.confirm__reset__password {
	padding-top: 2rem;

	display: flex;
	align-items: center;
}

.confirm__reset__password__img {
	flex: 0.5;
}

.confirm__password__form {
	flex: 0.5;
}

@media screen and (max-width: 1024px) {
	.confirm__reset__password {
		height: 60vh;
	}

	.confirm__reset__password__img {
		display: none;
	}

	.confirm__password__form {
		flex: 1;
	}
}
