.reset__password {
	padding-top: 5rem;

	display: flex;
	align-items: center;
}

.reset__password__img {
	flex: 0.5;
}

.reset__password__form {
	flex: 0.5;
}

@media screen and (max-width: 1024px) {
	.reset__password {
		height: 50vh;
	}

	.reset__password__img {
		display: none;
	}

	.reset__password__form {
		flex: 1;
	}
}
