.button {
	text-decoration: none;
	text-align: center;
	background-color: var(--green-dark);
	border: var(--border);
	border-radius: 2rem;
	color: var(--white);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	padding: 0.5rem 2rem;
	letter-spacing: 1px;
	cursor: pointer;

	transition: all 400ms ease;
}

.button:hover,
.button:active {
	background: var(--black);
}

.button__cta {
	padding: 1rem 4.5rem;
}

.button__small {
	padding: 0.2rem 0.7rem;
	font-size: 1rem;
	font-weight: 500;
}

.button__inverse {
	background: transparent;
	border: 2px solid var(--green-dark);
	color: var(--green-dark);
}

.button__inverse:hover,
.button__inverse:active {
	color: var(--white);
	background: var(--green-dark);
	transition: var(--transition);
}

.button__danger {
	background: var(--red-dark);
	border-color: var(--red-dark);
}

.button__danger:hover,
.button__danger:active {
	background: var(--red-light);
	border-color: var(--red-light);
}
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: var(--disabled);
	color: var(--disabled-text);
	border-color: var(--disabled);
	cursor: not-allowed;
}
