.side-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 25rem;
	background-color: var(--green-light);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 15;

	transform: translateX(-101%);
	transition: all 400ms ease;
}

.side-nav button {
	width: 50%;
	align-self: center;
}

.side-nav.show {
	transform: translateX(0);
}

.side-nav__nav-items {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}
